TZ=Asia/Hong_Kong

NODE_RED_PORT=1880
MONGO_PORT=27017

NODE_RED_BASE_IMAGE=nodered/node-red:4.1.1@sha256:a840dff7e3f704466600d9e4660d46a9f795c589bf9be20a5727c636a8125563
MONGO_BASE_IMAGE=mongo:8.0@sha256:22cab4837b4b9119395372e4a14ceb50d8abbf4b29a41ca7f3d504cbab95caeb

NODE_RED_CREDENTIAL_SECRET=change-this-before-release

MONGO_ROOT_USERNAME=root
MONGO_ROOT_PASSWORD=change-this-before-release

MONGO_APP_DATABASE=smartcity
MONGO_APP_USERNAME=smartcity
MONGO_APP_PASSWORD=smartcity
MONGO_FLOW_HOST=mongodb
HKO_REFRESH_SECONDS=10
HKO_DEMO_DRAW_EVERY_POLL=true
